[core]
  excludefiles = ~/.gitignore_global
  excludesfile = ~/.gitignore_global
  excludesfiles = ~/.gitignore_global
	editor = vim
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  co = checkout
  a = add
  c = commit
  cm = commit -m
  cam = commit -am
  s = status
  l = log --pretty='%C(auto)%h %<(50,trunc)%s %C(black)%cr,% cN' --first-parent
  adall = add . --all
  edit = "!vim `git ls-files -m` -p"
  grep = grep -n
  reflog = reflog --pretty='%C(auto)%h %gd: %gs %C(black)%cr'
  frp = "!f() { \
    git fetch &&\
    git rebase origin/master &&\
    git push --force-with-lease;\
  }; f"
  pr = pull-request
  pf = push --force-with-lease
  # From https://github.com/git-tips/tips
  conflicts = diff --name-only --diff-filter=U
  clean-branches = "git branch --merged master | grep -v '^\\*\\|  master' | xargs -n 1 git branch -d"
  inline-diff = diff --word-diff
  t = tag -a
  pt = push --tags

[push]
  default = simple
[rebase]
	autosquash = true
[commit]
	gpgsign = true
[user]
  # Override key ID in gitconfig_local if required
  # This key for py@poujade.org
	signingkey = EE234EE1
[include]
  path = ~/.gitconfig_local
