[core]
  excludefiles = ~/.gitignore_global
  excludesfile = ~/.gitignore_global
  excludesfiles = ~/.gitignore_global
	editor = vim
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  a = add
  adall = add . --all
  c = commit
  cam = commit -am
  clean-branches = "git branch --merged master | grep -v '^\\*\\|  master' | xargs -n 1 git branch -d"
  cm = commit -m
  co = checkout
  # From https://github.com/git-tips/tips
  conflicts = diff --name-only --diff-filter=U
  edit = "!vim `git ls-files -m` -p"
  frp = "!f() { \
    git fetch --prune &&\
    git push --force-with-lease;\
    git rebase origin/master &&\
  }; f"
  grep = grep -n
  inline-diff = diff --word-diff
  l = log --pretty='%C(auto)%h %<(50,trunc)%s %C(black)%cr,% cN' --first-parent
  pf = push --force-with-lease
  pr = pull-request
  pt = push --tags
  reflog = reflog --pretty='%C(auto)%h %gd: %gs %C(black)%cr'
  s = status
  t = tag -a

[push]
  default = simple
[rebase]
  autosquash = true
[commit]
  gpgsign = true
[user]
  # Override key ID in gitconfig_local if required
  signingkey = EE234EE1
[include]
  path = ~/.gitconfig_local
[cola]
  fontdiff = Hack,13,-1,5,50,0,0,0,0,0
[color "diff"]
  old = red strike
  new = green italic
