snippet tfun "Test function"
func Test${1:Name}(t *testing.T) {
  ${2:// the test}
}
endsnippet

snippet efun "Example function"
func Example${1:Function}() {
    ${2:// the example}  
    // Output: ${3:expected output}
}
endsnippet
